## <div class="alert alert-info"><center>PyMongo</center></div>

#### For Windows:

$ pip3 install pymongo==3.4.0

#### For Mac:

$ brew install mongodb

#### Run the below code in the python shell. If it runs without any exception, the install works.

In [181]:
import pymongo

### <div class="alert alert-info"><center>Establishing a Connection</center></div>

In [182]:
from pymongo import MongoClient

In [183]:
client = MongoClient()

In [184]:
client = MongoClient('localhost', 27017)

#### Mongo URI format:

In [185]:
## client = MongoClient('mongodb://localhost:27017')

In [186]:
## client

### <div class="alert alert-info"><center>Creating a Database</center></div>

In [187]:
db = client.pymongo_test_db

#### Dictionary-style access

In [188]:
# db = client['pymongo_test']

#### <div style='color:red'>Note: In MongoDB, a database is not created until the data is added to database</div>

### <div class="alert alert-info"><center>Collection</center></div>

A collection is a group of documents stored in MongoDB, and can be thought of as roughly the equivalent of a table in a relational database.

In [189]:
# Using dictionary style
# posts = db['posts']

posts = db.posts

### <div class="alert alert-info"><center>Check if Database Exist</center></div>

In [190]:
# print(client.list_database_names())

### <div class="alert alert-info"><center>Insert Document</center></div>

#### 1. insert_one() method:

In [191]:

post_data = {
    'name': 'Abhishek',
    'student_id': '100329591',
    'address': '5468, Ross Street, Vancouver, BC'
}
result = posts.insert_one(post_data)
## inserted_id returns the inserted id for the given data
print(f'One post: {result.inserted_id}')

One post: 5cf72d0aeaa0c7361470e5d3

In [192]:
for data in posts.find():
    print(data)

{'_id': ObjectId('5cf72998eaa0c7361470e5cd'), 'name': 'Abhishek', 'student_id': '100329591', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5ce'), 'name': 'John David', 'student_id': '100329582', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5cf'), 'name': 'Richard', 'student_id': '100329583', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5d0'), 'name': 'Joey', 'student_id': '100329584', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d3'), 'name': 'Abhishek', 'student_id': '100329591', 'address': '5468, Ross Street, Vancouver, BC'}

#### 2. insert_many() method:

In [193]:
post_1 = {
    'name': 'Michael',
    'student_id': '100329582',
    'address': '9852, Elliott street, Vancouver, BC'
}
post_2 = {
    'name': 'Richard',
    'student_id': '100329583',
    'address': '1234, Victoria Street, Vancouver, BC'
}
post_3 = {
    'name': 'Joey',
    'student_id': '100329584',
    'address': '2345 Saint John Street, Aucland, New Zealand'
}
new_result = posts.insert_many([post_1, post_2, post_3])

In [194]:
for data in posts.find():
    print(data)

{'_id': ObjectId('5cf72998eaa0c7361470e5cd'), 'name': 'Abhishek', 'student_id': '100329591', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5ce'), 'name': 'John David', 'student_id': '100329582', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5cf'), 'name': 'Richard', 'student_id': '100329583', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5d0'), 'name': 'Joey', 'student_id': '100329584', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d3'), 'name': 'Abhishek', 'student_id': '100329591', 'address': '5468, Ross Street, Vancouver, BC'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d4'), 'name': 'Michael', 'student_id': '100329582', 'address': '9852, Elliott street, Vancouver, BC'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d5'), 'name': 'Richard', 'student_id': '100329583', 'address': '1234, Victoria Street, Vancouver, BC'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d6'), 'name': 'Joey', 'student_id': '100329584', 'address': '2345 Saint John Street, Aucland, New Zealand'}

### <div class="alert alert-info"><center>Counting</center></div>

#### 1. Count all documents

In [195]:
posts.count_documents({})

8

#### 2. Count Particular documents

In [196]:
posts.count_documents({"name": "Richard"})

2

### <div class="alert alert-info"><center>Python MongoDB Find</center></div>

#### 1. Find using find_one() to retrieve single data

In [197]:
one_post = posts.find_one()
print(one_post)

{'_id': ObjectId('5cf72998eaa0c7361470e5cd'), 'name': 'Abhishek', 'student_id': '100329591', 'address': 'Campus'}

#### 2. Find using find() to retrieve all data

In [198]:
for data in posts.find():
    print(data)

{'_id': ObjectId('5cf72998eaa0c7361470e5cd'), 'name': 'Abhishek', 'student_id': '100329591', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5ce'), 'name': 'John David', 'student_id': '100329582', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5cf'), 'name': 'Richard', 'student_id': '100329583', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5d0'), 'name': 'Joey', 'student_id': '100329584', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d3'), 'name': 'Abhishek', 'student_id': '100329591', 'address': '5468, Ross Street, Vancouver, BC'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d4'), 'name': 'Michael', 'student_id': '100329582', 'address': '9852, Elliott street, Vancouver, BC'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d5'), 'name': 'Richard', 'student_id': '100329583', 'address': '1234, Victoria Street, Vancouver, BC'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d6'), 'name': 'Joey', 'student_id': '100329584', 'address': '2345 Saint John Street, Aucland, New Zealand'}

#### Return Only Some Fields

In [199]:
for x in posts.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'Abhishek', 'address': 'Campus'}
{'name': 'John David', 'address': 'Campus'}
{'name': 'Richard', 'address': 'Campus'}
{'name': 'Joey', 'address': 'Campus'}
{'name': 'Abhishek', 'address': '5468, Ross Street, Vancouver, BC'}
{'name': 'Michael', 'address': '9852, Elliott street, Vancouver, BC'}
{'name': 'Richard', 'address': '1234, Victoria Street, Vancouver, BC'}
{'name': 'Joey', 'address': '2345 Saint John Street, Aucland, New Zealand'}

#### <div style='color:red'>Note: The combination of 0 and 1 is not allowed except if one of the feild is _id.</div>

#### Filter the Result

In [200]:
searchquery = { "address": "5468, Ross Street, Vancouver, BC" }

In [201]:
results = posts.find(searchquery)

for data in results:
    print(data)

{'_id': ObjectId('5cf72d0aeaa0c7361470e5d3'), 'name': 'Abhishek', 'student_id': '100329591', 'address': '5468, Ross Street, Vancouver, BC'}

#### Filter With Regular Expressions

In [202]:
advancequery = { "address": {"$regex":"^5"}}

In [203]:
advanceresults = posts.find(advancequery)

for datas in advanceresults:
    print(datas)

{'_id': ObjectId('5cf72d0aeaa0c7361470e5d3'), 'name': 'Abhishek', 'student_id': '100329591', 'address': '5468, Ross Street, Vancouver, BC'}

#### <div style='color:red'>Note: Regular expressions can only be applied to strings.</div>

#### Sort the Result

Sort accepts two parameter: Fieldname and order. By default the order is ascending

In [204]:
sortresultasc = posts.find().sort("name",1) #ascending

In [205]:
for resulttemp in sortresultasc:
    print(resulttemp)

{'_id': ObjectId('5cf72998eaa0c7361470e5cd'), 'name': 'Abhishek', 'student_id': '100329591', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d3'), 'name': 'Abhishek', 'student_id': '100329591', 'address': '5468, Ross Street, Vancouver, BC'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5d0'), 'name': 'Joey', 'student_id': '100329584', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d6'), 'name': 'Joey', 'student_id': '100329584', 'address': '2345 Saint John Street, Aucland, New Zealand'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5ce'), 'name': 'John David', 'student_id': '100329582', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d4'), 'name': 'Michael', 'student_id': '100329582', 'address': '9852, Elliott street, Vancouver, BC'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5cf'), 'name': 'Richard', 'student_id': '100329583', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d5'), 'name': 'Richard', 'student_id': '100329583', 'address': '1234, Victoria Street, Vancouver, BC'}

In [206]:
sortresultdsc = posts.find().sort("name",-1) #descending

In [207]:
for resulttemp in sortresultdsc:
    print(resulttemp)

{'_id': ObjectId('5cf7299aeaa0c7361470e5cf'), 'name': 'Richard', 'student_id': '100329583', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d5'), 'name': 'Richard', 'student_id': '100329583', 'address': '1234, Victoria Street, Vancouver, BC'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d4'), 'name': 'Michael', 'student_id': '100329582', 'address': '9852, Elliott street, Vancouver, BC'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5ce'), 'name': 'John David', 'student_id': '100329582', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5d0'), 'name': 'Joey', 'student_id': '100329584', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d6'), 'name': 'Joey', 'student_id': '100329584', 'address': '2345 Saint John Street, Aucland, New Zealand'}
{'_id': ObjectId('5cf72998eaa0c7361470e5cd'), 'name': 'Abhishek', 'student_id': '100329591', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d3'), 'name': 'Abhishek', 'student_id': '100329591', 'address': '5468, Ross Street, Vancouver, BC'}

### <div class="alert alert-info"><center>Update Document</div>

#### 1. Update using update_one() to update single data

In [208]:
query = { "name": "Michael" }
new_name = { "$set": { "name": "John David" } }

In [209]:
posts.update_one(query,new_name)

In [210]:
for postsupdate in posts.find():
    print(postsupdate)

{'_id': ObjectId('5cf72998eaa0c7361470e5cd'), 'name': 'Abhishek', 'student_id': '100329591', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5ce'), 'name': 'John David', 'student_id': '100329582', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5cf'), 'name': 'Richard', 'student_id': '100329583', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5d0'), 'name': 'Joey', 'student_id': '100329584', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d3'), 'name': 'Abhishek', 'student_id': '100329591', 'address': '5468, Ross Street, Vancouver, BC'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d4'), 'name': 'John David', 'student_id': '100329582', 'address': '9852, Elliott street, Vancouver, BC'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d5'), 'name': 'Richard', 'student_id': '100329583', 'address': '1234, Victoria Street, Vancouver, BC'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d6'), 'name': 'Joey', 'student_id': '100329584', 'address': '2345 Saint John Street, Aucland, New Zealand'}

In [211]:
myquery = { "student_id": { "$regex": "^100" } }
new_address = { "$set": { "address": "Campus" } }

In [212]:
posts.update_many(myquery,new_address)

In [213]:
for updatedata in posts.find():
    print(updatedata)

{'_id': ObjectId('5cf72998eaa0c7361470e5cd'), 'name': 'Abhishek', 'student_id': '100329591', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5ce'), 'name': 'John David', 'student_id': '100329582', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5cf'), 'name': 'Richard', 'student_id': '100329583', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5d0'), 'name': 'Joey', 'student_id': '100329584', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d3'), 'name': 'Abhishek', 'student_id': '100329591', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d4'), 'name': 'John David', 'student_id': '100329582', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d5'), 'name': 'Richard', 'student_id': '100329583', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d6'), 'name': 'Joey', 'student_id': '100329584', 'address': 'Campus'}

### <div class="alert alert-info"><center>Limit Document</div>

In [214]:
limited_result = posts.find().limit(1)
for x in limited_result:
    print(x)

{'_id': ObjectId('5cf72998eaa0c7361470e5cd'), 'name': 'Abhishek', 'student_id': '100329591', 'address': 'Campus'}

In [215]:
temp_val = posts.find()[1:4]

In [216]:
for x in temp_val:
    print(x)

{'_id': ObjectId('5cf7299aeaa0c7361470e5ce'), 'name': 'John David', 'student_id': '100329582', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5cf'), 'name': 'Richard', 'student_id': '100329583', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5d0'), 'name': 'Joey', 'student_id': '100329584', 'address': 'Campus'}

In [217]:
## Starting from any point till end
temp_val = posts.find()[2:]

In [218]:
for x in temp_val:
    print(x)

{'_id': ObjectId('5cf7299aeaa0c7361470e5cf'), 'name': 'Richard', 'student_id': '100329583', 'address': 'Campus'}
{'_id': ObjectId('5cf7299aeaa0c7361470e5d0'), 'name': 'Joey', 'student_id': '100329584', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d3'), 'name': 'Abhishek', 'student_id': '100329591', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d4'), 'name': 'John David', 'student_id': '100329582', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d5'), 'name': 'Richard', 'student_id': '100329583', 'address': 'Campus'}
{'_id': ObjectId('5cf72d0aeaa0c7361470e5d6'), 'name': 'Joey', 'student_id': '100329584', 'address': 'Campus'}

### <div class="alert alert-info"><center>Delete Documents</div>

#### 1. Delete using delete_one() to retrieve single data

In [219]:
delquery = { "address": "9852, Elliott street, Vancouver, BC" }

In [220]:
posts.delete_one(delquery)

#### 2. Delete using delete_many() to retrieve single data

In [221]:
myquery = { "address": {"$regex": "^5"} }

delresult = posts.delete_many(myquery)

print(delresult.deleted_count, " documents deleted.")

0  documents deleted.

#### 3. Delete all collection using delete_many() to retrieve single data

In [222]:
delallresult = posts.delete_many({})

print(delallresult.deleted_count, " documents deleted.")

8  documents deleted.

### <div class="alert alert-info"><center>Delete Collection</div>

In [223]:
client.drop_database('pymongo_test_db')
# client.drop_database('<Database name>')

In [224]:
posts.drop()

#### <div style='color:red'>Note: drop() returns true if the collection was dropped succesfully else returns false</div>